 :root {
     --color-black: #000000;
     --color-white: #ffffff;

     --color-gray-10: #111111;
     --color-gray-20: #222222;
     --color-gray-30: #444444;
     --color-gray-40: #666666;
     --color-gray-50: #888888;
     --color-gray-60: #aaaaaa;
     --color-gray-70: #cccccc;
     --color-gray-80: #eeeeee;

     --color-blue: #4682b4;
 }