body {
    min-height: 100vh;
    /* display: flex;
  justify-content: center;
  align-items: center; */
    margin: 0;
    background-color: rgb(70, 71, 70);
}

.text-wrapper {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.scroll-container {
    width: 100vw;
    overflow: hidden;
    position: absolute;
    display: flex;
    bottom: 0;
}

.street-track {
    display: flex;
    width: max-content;

}

.wrapper-street {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: .5rem;
    height: 95vh;
    min-width: max-content;
    /* Zorg dat de wrapper net zo breed is als de inhoud */
    width: max-content;
    /* Zorg dat hij minstens schermbreed is */
    border-bottom: 16px solid #000000;
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    z-index: 1;
    animation: street-scroll 25s linear infinite;
}

.street-name {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    margin: 1rem 1%;
}

.wrapper-street.second {
    animation-delay: 12.5s;
}

.home-1,
.home-2,
.home-3,
.home-4,
.home-5,
.home-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    text-decoration: none;
}

.svg-wrapper {
    /* display: flex;
  align-items: flex-end; */
    height: 400px;
    position: relative;
    z-index: 2;
    margin-bottom: -16px;
    /* Pull SVGs down into the street border */
}

.svg-wrapper svg {
    display: block;
    height: 100%;
    width: auto;
    max-height: 100%;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    z-index: 1;
}

.yellow-anim {
    transition: fill 0.5s;
}

.barbed-wire {
    position: absolute;
    top: 2rem;
    left: 0;
    width: auto;
    height: auto;
}

@keyframes street-scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@media (max-width: 600px) {
    .barbed-wire {
        position: absolute;
        top: 2rem;
        left: 0;
        width: auto;
        height: auto;
    }
}